.footer {
    background-color: var(--second-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--second-logo-color);
}

.address {
    margin-top: 20px;
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: var(--second-logo-color);
}

.footer-link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-ico {
    background: rgba(255, 255, 255, 0.1);
    fill: var(--second-logo-color);
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-social {
    margin-left: 70px;
}

.footer-list {
    margin: 0;
}

.social-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-logo-color);
}

.footer-mail {
    display: block;
    margin-left: auto;
}

.footer-form {
    display: block;
    padding-right: 0;
}

.footer-mail-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-logo-color);
}

.input-mail {
    display: flex;
    margin-top: 20px;
}

.footer-mail-input {
    padding-left: 15px;
    margin-right: 12px;
    width: 358px;
    height: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--second-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: var(--main-border-radius);
}

.footer-mail-btn {
    display: inline-flex;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
    color: var(--second-logo-color);
    background-color: var(--accent-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-btn:hover,
.footer-mail-btn:focus,
.footer-mail-btn:active {
    background-color: var(--big-btn-hover-color);
}

.footer-mail-btn::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(../images/footer-ico/icon\ send.svg);
    background-size: contain;
}
