.hero {
    background-color: $secondBackgroundColor;

    padding: 200px 0;

    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: $secondLogoColor;

        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 696px;
    }

    &__btn {
        font-family: inherit;
        background-color: $accentColor;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;

        color: $secondLogoColor;

        display: block;
        margin: 0 auto;
        padding: 10px 32px;
        border-radius: $mainBorderRadius;
        border: none;
        cursor: pointer;
        box-shadow: $mainBoxShadow;

        transition: background-color $mainTransition;
    }

    &__btn:hover,
    &__btn:focus,
    &__btn:active {
        background-color: $bigBtnHoverColor;
    }
}
