.navigation {
    display: flex;
    align-items: center;
}

.navigation__box {
    display: flex;
    margin-left: 93px;
}

.navigation__item {
    display: block;
}

.navigation__item + .navigation__item {
    margin-left: 50px;
}

.navigation__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.navigation__link:active {
    color: var(--accent-color);
}

.navigation__link--active {
    position: relative;
    color: var(--accent-color);
}

.navigation__link--active::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;
    background: var(--accent-color);
    border-radius: 2px;
}
