.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.nav-link:active {
    color: var(--accent-color);
}

.active {
    position: relative;
}

.active::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;
    background: #2196f3;
    border-radius: 2px;
}
