:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-background-color: #f5f5f5;
    --second-background-color: #2f303a;
    --accent-color: #2196f3;
    --second-accent-color: #000000;
    --second-logo-color: #ffffff;
    --portfolio-button-color: #f5f4fa;
    --main-icon-color: #afb1b8;
    --big-btn-hover-color: #188ce8;
    --main-border-radius: 4px;
    --main-border-color: rgba(175, 177, 184, 1);
    --portfolio-wrap-color: rgba(33, 150, 243, 0.9);
}
