/* main text color: #212121; */
/* second text color: #757575; */
/* main background color: #F5F5F5; */
/* accent color: #2196F3; */
/* second accent color: #000000; */
/* main button color: #F5F4FA; */

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-background-color: #f5f5f5;
    --second-background-color: #2f303a;
    --accent-color: #2196f3;
    --second-accent-color: #000000;
    --second-logo-color: #ffffff;
    --portfolio-button-color: #f5f4fa;
    --main-icon-color: #afb1b8;
    --big-btn-hover-color: #188ce8;
    --main-border-radius: 4px;
    --main-border-color: rgba(175, 177, 184, 1);
    --portfolio-wrap-color: rgba(33, 150, 243, 0.9);
}

* {
    /* outline: 1px solid red; */
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
}

body {
    background-color: #ffffff;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    font-size: 14px;
}

a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
    resize: none;
}

::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);

    margin-bottom: 50px;
}

/* Header  */

.header {
    border: 1px solid rgba(236, 236, 236, 1);
}

.header-box {
    display: flex;
    align-items: center;
}

/* logo */

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}

.logo-item {
    color: var(--second-accent-color);
}

/* site navigation */

nav a.active {
    color: var(--accent-color);
}

.main-nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;
}

.nav-item {
    display: block;
}

.nav-item + .nav-item {
    margin-left: 50px;
}

/* site links */

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.nav-link:active {
    color: var(--accent-color);
}

.active {
    position: relative;
}

.active::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    height: 4px;
    width: 100%;
    background: #2196f3;
    border-radius: 2px;
}

/* contacts link */

.contact-box {
    display: flex;
    margin-left: auto;
}

.contact-item {
    display: block;
}

.contact-item + .contact-item {
    margin-left: 50px;
}

.contact-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.contact-link:hover svg {
    fill: var(--accent-color);
}

.contact-link {
    display: flex;
    align-items: center;
}

.contact-icon {
    margin-right: 10px;
    fill: currentColor;
}

/* hero */

.hero {
    background-color: var(--second-background-color);

    padding: 200px 0;

    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--second-logo-color);

    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
}

.hero-btn {
    font-family: inherit;
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--second-logo-color);

    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    border-radius: var(--main-border-radius);
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: var(--big-btn-hover-color);
}

/* modal-window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

.modal {
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    scale: 1;
    z-index: 99;

    min-width: 530px;
    min-height: 580px;

    background-color: var(--second-logo-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: var(--main-border-radius);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    background-color: var(--second-logo-color);
}

.close-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: var(--main-text-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover svg,
.close-btn:focus svg {
    fill: var(--accent-color);
}

.no-scroll {
    overflow: hidden;
}

/* Modal form  */

.modal-title {
    text-align: center;
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-wrap {
    position: relative;
}

.form-label {
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--second-text-color);
}

.form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: var(--main-border-radius);
    outline: none;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-ico {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: var(--main-text-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus-visible {
    border: 1px solid var(--accent-color);
}

.form-input:focus-visible + svg {
    fill: var(--accent-color);
}

.form-comment {
    height: 120px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    outline: none;
}

.submit-item {
    display: flex;
    align-items: center;

    margin-left: 14px;

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.modal-submit {
    display: block;

    padding: 10px 52px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 2.38;
    letter-spacing: 0.06em;

    border: none;
    cursor: pointer;
    color: var(--second-logo-color);
    background-color: var(--accent-color);
    border-radius: var(--main-border-radius);

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover,
.modal-submit:focus,
.modal-submit:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--big-btn-hover-color);
}

.submit {
    display: flex;
    align-items: center;
}

.modal-link {
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: var(--accent-color);

    margin-left: 3px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 15px;
    width: 16px;
    border: 2px solid var(--main-text-color);
    border-radius: 2px;

    margin-right: 7px;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit input:checked + label .checkbox {
    background: var(--accent-color);
    border: none;
}

/* advertising text  */

.sec-padding-bottom-0 {
    padding-bottom: 0;
}

.advertising {
    display: flex;
}

.adv-list + .adv-list {
    margin-left: 30px;
}

.adv-wrap {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;

    background-color: var(--portfolio-button-color);
    background-repeat: no-repeat;

    margin-bottom: 30px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);

    margin: -1px;
}

.adv-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-text-color);

    padding-bottom: 26px;
}

.adv-content {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

/* advertising photo */

.adv-photo {
    padding-top: 94px;
}

.photo-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.photo-list {
    display: flex;
    gap: 30px;
}

.photo-item {
    flex-basis: calc(100% / 3 - 30px);
    position: relative;
}

.photo-text {
    display: flex;
    position: absolute;
    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);

    bottom: 0;
    left: 0;

    justify-content: center;
    align-items: center;
}

.text-item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-logo-color);
}

/* team members */

.team-section {
    background-color: var(--portfolio-button-color);
}

.team-list {
    display: flex;
    gap: 30px;
}

.team-photo {
    background-color: var(--second-logo-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc(100% / 4 - 30px);
}

.team-card {
    padding-top: 30px;
    padding-bottom: 30px;
}

.teammate-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-profession {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--second-text-color);

    margin-bottom: 16px;
}

.social-list {
    display: flex;
    margin-left: 32px;
}

.social-ico {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background: var(--second-logo-color);
    fill: var(--main-icon-color);

    justify-content: center;
    align-items: center;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item + .social-item {
    margin-left: 10px;
}

.social-ico:hover,
.social-ico:active,
.social-ico:focus {
    fill: var(--second-logo-color);
    background: var(--accent-color);
}

/* Our clients */

.client-list {
    display: flex;
    justify-content: space-between;
}

.client-link {
    display: flex;
    width: 170px;
    height: 92px;

    fill: var(--main-icon-color);

    border-radius: var(--main-border-radius);
    border: 1px solid rgba(175, 177, 184, 1);

    justify-content: center;
    align-items: center;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:active,
.client-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer  */

.footer {
    background-color: var(--second-background-color);

    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--second-logo-color);
}

.address {
    margin-top: 20px;
}

.address-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;

    color: var(--second-logo-color);
}

.footer-link {
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer-ico {
    background: rgba(255, 255, 255, 0.1);
    fill: var(--second-logo-color);
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.footer-social {
    margin-left: 70px;
}

.footer-list {
    margin: 0;
}

.social-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-logo-color);
}

.footer-mail {
    display: block;
    margin-left: auto;
}

.footer-form {
    display: block;
    padding-right: 0;
}

.footer-mail-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--second-logo-color);
}

.input-mail {
    display: flex;
    margin-top: 20px;
}

.footer-mail-input {
    padding-left: 15px;
    margin-right: 12px;
    width: 358px;
    height: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    background-color: var(--second-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: var(--main-border-radius);
}

.footer-mail-btn {
    display: inline-flex;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;

    border: none;
    cursor: pointer;
    color: var(--second-logo-color);
    background-color: var(--accent-color);
    border-radius: var(--main-border-radius);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail-btn:hover,
.footer-mail-btn:focus,
.footer-mail-btn:active {
    background-color: var(--big-btn-hover-color);
}

.footer-mail-btn::after {
    content: '';
    width: 24px;
    height: 24px;
    margin-left: 10px;

    background-image: url(../images/footer-ico/icon\ send.svg);
    background-size: contain;
}

/* Portfolio  */

/* Portfolio button */

.list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-item + .btn-item {
    margin-left: 8px;
}

.portfolio-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    background-color: var(--portfolio-button-color);

    cursor: pointer;
    border-radius: var(--main-border-radius);
    border: none;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus,
.portfolio-btn:active {
    color: var(--second-logo-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: var(--main-border-radius);
}

/* Portfolio photo list  */

.portfolio-photo {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--main-text-color);

    margin-bottom: 4px;
}

.portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;

    color: var(--second-text-color);
}

.portfolio-item {
    flex-basis: calc(100% / 3 - 30px);
}

.portfolio-item:hover,
.portfolio-item:active,
.portfolio-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-details {
    transform: translateY(0);
}

.card-title {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-right: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-wrap-details {
    position: relative;
    overflow: hidden;
}

.portfolio-details {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    padding-top: 65px;
    padding-right: 24px;
    padding-left: 24px;

    background: var(--portfolio-wrap-color);
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--second-logo-color);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
